{# templates/home/index.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Accueil | {{ parent() }}{% endblock %}


{% block content %}
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <img src="https://www.u-picardie.fr/uas/ksup/logo_pied_1/plan.png" alt="company logo" style="width: 100%;">
                    <h1 class="font-weight-light">Bienvenue sur le site de l'EPROAD LabDocCenter</h1>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
